body {
  background-color: rgb(51, 51, 51);
  color: white;
}
:root {
  --bg-color: #173f5f;
  --bg-sec-color: #20639b;
  --sec-color: #3caea3;
  --yelow: #f6d55c;
  --hdr-color: #ed553b;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin: 15px;
}

#search-input {
  padding: 5px 18px;
  width: 250px;
  border: none;
}
.poster {
  width: 350px;
  height: 450px;
}
